@import 'variables';

.Todo {
  
  .btn-back {
    display: inline-block;
    font-size: 45px;
    cursor: pointer;
  }

  .btn-edit {
    border: 1px solid;
    margin-top: 10px;
    padding: 4px 8px;
    font-size: 17px;
    cursor: pointer;
    outline: none;
  }
}

#App.light {
  
  .Todo {

    .btn-edit {
      border-color: $light-border-color;
      color: $light-color;
      background-color: $light-background-color;
    }
  }
}